#myTab {
    font-size: larger;
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read {
    padding: 0;
    height: 100%;
}

.simpleFooterContainer-153 {
    display: none;
}

.simpleFooterContainer-160 {
    display: none;
}

.spAppAndPropertyPanelContainer .sp-appBar {
    background: #f3f2f1;
    display: none;
    min-width: 47px;
}
/* 
.l_b_beed2cf1 {
    display: none;
} */

#CommentsWrapper {
    display: none;
}

#spCommandBar {
    display: none;
}

.breadcrumb>li>a {
    color: #f3f2f1;
    text-decoration: none;
}

.breadcrumb>li>a:hover {
    color: #f54630;
    text-decoration: none;
}

.webPartContainer {
    display: none;
}

#breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #004a8e;
    border-radius: 4px;
    /* color: white; */
}
/* 
.r_b_beed2cf1,
.s_b_beed2cf1 {
    position: relative;
    z-index: 7;
    display: none;
} */

#h2_doc_title {
    padding: inherit;
    padding-left: 2em;
}

#view_doc {
    padding-right: 3em;
}

.hb_u_9f38462c {
    position: relative;
    display: none;
}



.hb_af_9f38462c {
    display: none;
}

.x_c_ada2ac09 {
    display: none;
}

.btn {
    display: inline-block;
}

h3 {
    font-weight: 600;
}

.mt_ba_ada2ac09 {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: none;
}

.hb_s_9f38462c {
    position: relative;
    display: none;
}