.sidebar {
  width: 100%;
  background-color: #004a8eed;
  color: white;
  height: 100%;
  font-size: medium;
}

form label {
  margin-right: 2em;
}

#input_url {
  width: 50em;
}

#form_metadata label {
  margin: 0.5em;
  font-weight: bolder;
}



.simpleFooterContainer-213 {
  background-color: rgb(3, 120, 124);
  z-index: 13;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 0px 24px;
  display: none;
}

.simpleFooterContainer-207 {
  background-color: rgb(3, 120, 124);
  z-index: 13;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 0px 24px;
  display: none;
}



.simpleFooterContainer-220 {
  background-color: rgb(3, 120, 124);
  z-index: 13;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 0px 24px;
  display: none;
}

#form_metadata {
  margin: 2em;
  height: 100%;
  padding: 2em;
  /* border: groove; */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2em;

}

button {
  color: white;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  font-size: x-large;
}

#tree {
  height: 100%;
}

.my-treeview {
  height: 100%;
  overflow-y: auto;
  white-space: nowrap;
}

#desc_doc {}

@media (min-width: 576px) {
  .my-treeview {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 75px);
    /* adjust as needed */
  }
}